:root {
  --grey: #424b54;
  --mustard: #e1ce7a;
  --peach: #ebcfb2;
  --silver: #c5baaf;
  --white: #ffffff;
  --offwhite: #ebebeb;
}

/*HEADER */

.header_h1 {
  color: black;
}
.header_link {
  text-decoration: none;
}

/*HOMEPAGE */
.App {
  text-align: center;
}
.users_table {
  border: 1px black solid;
  width: 90%;
  margin: 5px auto;
  font-size: 0.5rem;
  border-collapse: collapse;
}
.users_table th {
  border: 1px black solid;
  background-color: var(--silver);
  margin: 0;
  padding: 5px;
  font-size: 0.8rem;
}
.users_table td {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  padding: 5px;
}
.users_table_link {
  text-decoration: none;
  color: black;
}
.users_table_row:hover {
  background-color: var(--peach);
}
.users_table_button {
  background-color: var(--mustard);
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px;
  width: 30%;
}
.users_table_button:hover {
  cursor: pointer;
  background-color: var(--peach);
}

/* INDIVIDUAL USER PAGE */

.user_container {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--silver);
  border-radius: 25px;
}
.user_avatar {
  width: 40%;
}
.user_subheading {
  margin-bottom: 5px;
}
.user_details_container {
  background-color: var(--offwhite);
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 5px;
}
.user_detail {
  margin-top: 0rem;

  width: 80%;
  margin: 0 auto;
}
.user_posts_container {
  padding: 1rem;
  margin: 1rem;
}
.user_post {
  background-color: var(--peach);
  padding: 5px 5px 5px 5px;
  margin: 10px 5px 10px 5px;
  border-radius: 25px;
}
.user_post_subheading {
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
}
.user_post_body {
  font-size: 0.9rem;
  margin: 0.5rem;
}

.user_delete_button {
  padding: 1rem;
  border-radius: 25px;
  background-color: var(--mustard);
  margin-top: 1rem;
}
.user_delete_button:hover {
  background-color: var(--peach);
  cursor: pointer;
}

/*ADD USER */

.adduser_form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: var(--silver);
  border-radius: 25px;
}
.adduser_form label {
  margin: 2px;
}
.adduser_form input {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 25px;
}
.adduser_form button {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--mustard);
  font-size: 1rem;
  cursor: pointer;
}
.adduser_form button:hover {
  background-color: var(--peach);
}

/* CREATE POST */

.post_form {
  display: flex;
  flex-direction: column;
}

.post_form label {
  margin: 5px;
}
.post_form_input_title {
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin: 5px auto;
}
.post_form_input_body {
  border-radius: 25px;
  width: 80%;
  margin: 5px auto;
  padding: 1rem;
  text-align: center;
}
.post_form button:hover {
  background-color: var(--peach);
  cursor: pointer;
}
.post_form button {
  background-color: var(--mustard);
  padding: 0.5rem;
  border-radius: 25px;
}

@media (min-width: 760px) {
  .users_table_header {
    font-size: 1.2rem;
  }
  .users_table {
    font-size: 1rem;
  }
  .users_table_button {
    font-size: 1rem;
  }

  /* INDIVIDUAL USER PAGE */

  .user_container {
    width: 70%;
    margin: 0 auto;
  }
}
